<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Predikt</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../styles/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>

	<body class="container bg-light">
		<!-- Start Header form -->
		<div class="text-center pt-5">
			<img src="https://github.com/sadichchhaa/predikt/blob/master/assets/logo.png" alt="network-logo" width="72" height="72" />
			<h2>Predikt</h2>
			<p>
				Genetic Disorder Predictor for Early Diagnosis
			</p>
		</div>
		<!-- End Header form -->

		<!-- Start Card -->
		<div class="card">
			<!-- Start Card Body -->
			<div class="card-body">
				<!-- Start Form -->
				<form id="inputForm" action="{{ url_for('predict')}}" method="post" class="needs-validation" novalidate autocomplete="off">
					<!-- Start Input Name -->
					<div class="form-group">
						<label for="inputName">Name</label>
						<input type="text" class="form-control" id="inputName" name="name" placeholder="Your name"
							required />
						<small class="form-text text-muted">Please fill your name</small>
					</div>
					<!-- End Input Name -->

					<!-- Start Input Gender -->
					<div class="form-group">
						<label>Gender</label>
						<div class="d-flex flex-row justify-content-between align-items-center">
							<select class="form-control mr-1" id="gender" name="gender" required>
								<option value="" disabled selected>Select Gender</option>
								<option value="0">Female</option>
								<option value="1">Male</option>
								<option value="2">Prefer not to say</option>
							</select>
						</div>
					</div>
					<!-- End Input Gender -->

					<!-- Start Input Age -->
					<div class="form-group">
						<label for="inputAge">Age</label>
						<input type="number" class="form-control" id="inputAge" name="age" pattern="\d{3}" required />
						<small class="form-text text-muted">We'll never share your age with anyone
							else.</small>
					</div>
					<!-- End Input Age -->

					<!-- Start Input Mother's Age | Father's Age -->
					<div class="form-row">
						<!-- Start Input Mother's Age -->
						<div class="form-group col-md-6">
							<label for="inputMotherAge">Mother's Age</label>
							<input type="number" class="form-control" id="inputMotherAge" name="motherAge"
								pattern="\d{3}" required />
						</div>
						<!-- End Input Mother's Age -->

						<!-- Start Input Father's Age -->
						<div class="form-group col-md-6">
							<label for="inputFatherAge">Father's Age</label>
							<input type="number" class="form-control" id="inputFatherAge" name="fatherAge"
								pattern="\d{3}" required />
						</div>
						<!-- End Input Father's Age -->
					</div>
					<!-- End Input Mother's Age | Father's Age -->

					<!-- Start Input Respiratory Rate | Heart Rate -->
					<div class="form-row">
						<!-- Start Input Respiratory Rate -->
						<div class="form-group col-md-6">
							<label for="inputrespiratoryRate">Respiratory Rate</label>
							<div class="d-flex flex-row justify-content-between align-items-center">
								<select class="form-control mr-1" id="inputrespiratoryRate" name="respiratoryRate" required>
									<option value="" disabled selected>Select</option>
									<option value="1">Normal (30 - 60)</option>
									<option value="0">Tachypnea</option>
								</select>
							</div>
							<small class="form-text text-muted">Calculated as number of breaths per minute</small>
						</div>
						<!-- End Input Respiratory Rate -->

						<!-- Start Input Heart Rate -->
						<div class="form-group col-md-6">
							<label for="inputHeartRate">Heart Rate</label>
							<div class="d-flex flex-row justify-content-between align-items-center">
								<select class="form-control mr-1" id="inputHeartRate" name="heartRate" required>
									<option value="" disabled selected>Select</option>
									<option value="1">Normal</option>
									<option value="0">Tachycardia</option>
								</select>
							</div>
							<small class="form-text text-muted">Calculated as number of beats per minute</small>
						</div>
						<!-- End Input Heart Rate -->
					</div>
					<!-- End Input Respiratory Rate | Heart Rate -->

					<!-- Start Input Blood Test Result -->
					<div class="form-group">
						<label>Blood Test Result</label>
						<div class="d-flex flex-row justify-content-between align-items-center">
							<select class="form-control mr-1" id="inputBloodTestResult" name="bloodTestResult" required>
								<option value="" disabled selected>Select</option>
								<option value="0">Normal</option>
								<option value="1">Slightly Abnormal</option>
								<option value="3">Abnormal</option>
								<option value="2">Inconclusive</option>
							</select>
						</div>
					</div>
					<!-- End Input Blood Test Result -->

					<!-- Start Blood Cell Count | WBC Count -->
					<div class="form-row">
						<!-- Start Input Blood Cell Count -->
						<div class="form-group col-md-6">
							<label for="inputBloodCellCount">Blood Cell Count (in mCL)</label>
							<input type="number" class="form-control" id="inputBloodCellCount" name="bloodCellCount"
							pattern="\d+(\.\d+)?" required />
						</div>
						<!-- End Input Blood Cell Count -->

						<!-- Start Input WBC Count -->
						<div class="form-group col-md-6">
							<label for="inputWbc">White Blood Cell Count (thousand per microlitre)</label>
							<input type="number" class="form-control" id="inputWbc" name="wbc"
							pattern="\d+(\.\d+)?" required />
						</div>
						<!-- End Input WBC Count -->
					</div>
					<!-- End Input Blood Cell Count | WBC Count -->

					<hr />

					<!-- Start History of User Section -->
					<div class="form-row">
						<legend class="col-form-label pb-3"><strong>HISTORY OF USER</strong></legend>

						<!-- Start Input Birth Asphyxia -->
						<div class="form-group col-md-12">
							<label for="inputBirthAsphyxia">Birth Asphyxia?</label>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputBirthAsphyxiaYes" name="birthAsphyxia"
									value="1" required />
								<label class="form-check-label" for="inputBirthAsphyxiaYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputBirthAsphyxiaNo" name="birthAsphyxia"
									value="0" required />
								<label class="form-check-label" for="inputBirthAsphyxiaNo">No</label>
							</div>
							</div>
						<!-- End Input Birth Asphyxia -->

						<!-- Start Input Birth Defects (if any) -->
						<div class="form-group col-md-6">
							<label for="inputBirthDefects">Birth Defects (if any)</label>
							<div class="d-flex flex-row justify-content-between align-items-center">
								<select class="form-control mr-1" id="inputBirthDefects" name="birthDefects" required>
									<option value="" disabled selected>Select</option>
									<option value="1">None</option>
									<option value="1">Singular</option>
									<option value="0">Multiple</option>
								</select>
							</div>
							<small class="form-text text-muted">Defects diagnosed within 30 days of birth</small>
						</div>
						<!-- End Input Birth Defects (if any) -->

						<!-- Start Input Folic Acid Levels -->
						<div class="form-group col-md-6">
							<label for="inputFolicAcidDetails">Pre-Conceptional Folic Acid Count of Mother</label>
							<div class="d-flex flex-row justify-content-between align-items-center">
								<select class="form-control mr-1" id="inputFolicAcidDetails" name="folicAcidDetails" required>
									<option value="" disabled selected>Select</option>
									<option value="1">Normal</option>
									<option value="2">Abnormal</option>
								</select>
							</div>
							<small class="form-text text-muted">Mother's Folic Acid Levels before pregnancy</small>
						</div>
						<!-- End Input Folic Acid Levels -->

						<!-- Start Input H/O Serious Maternal Illness -->
						<div class="form-group col-md-6">
							<label for="inputHoMaternalIllness">H/O Serious Maternal Illness</label><br/>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoMaternalIllnessYes" name="hoMaternalIllness"
									value="1" required />
								<label class="form-check-label" for="inputHoMaternalIllnessYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoMaternalIllnessNo" name="hoMaternalIllness"
									value="0" required />
								<label class="form-check-label" for="inputHoMaternalIllnessNo">No</label>
							</div>
							</div>
						<!-- End Input H/O Serious Maternal Illness -->

						<!-- Start Input H/O Substance Abuse -->
						<div class="form-group col-md-6">
							<label for="inputHoSubstanceAbuse">H/O Substance Abuse </label><br/>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoSubstanceAbuseYes" name="hoSubstanceAbuse"
									value="1" required />
								<label class="form-check-label" for="inputHoSubstanceAbuseYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoSubstanceAbuseNo" name="hoSubstanceAbuse"
									value="0" required />
								<label class="form-check-label" for="inputHoSubstanceAbuseNo">No</label>
							</div>
							</div>
						<!-- End Input H/O Substance Abuse -->

						<!-- Start Input H/O Radiation Exposure (X-Ray) -->
						<div class="form-group col-md-6">
							<label for="inputHoRadiationExposure">H/O Radiation Exposure (X-Ray)? </label><br/>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoRadiationExposureYes" name="hoRadiationExposure"
									value="1" required />
								<label class="form-check-label" for="inputHoRadiationExposureYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoRadiationExposureNo" name="hoRadiationExposure"
									value="0" required />
								<label class="form-check-label" for="inputHoRadiationExposureNo">No</label>
							</div>
							<small class="form-text text-muted">History of Radiation Exposure within 30 days post-birth</small>
							</div>
						<!-- End Input H/O Radiation Exposure (X-Ray) -->

						<!-- Start Input Assisted Conception -->
						<div class="form-group col-md-6">
							<label for="inputAssistedConception">Assisted Conception (IVF/ART)? </label><br/>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputAssistedConceptionYes" name="assistedConception"
									value="1" required />
								<label class="form-check-label" for="inputAssistedConceptionYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputAssistedConceptionNo" name="assistedConception"
									value="0" required />
								<label class="form-check-label" for="inputAssistedConceptionNo">No</label>
							</div>
							<small class="form-text text-muted">Was patient conceived using assisted conception methods?</small>
							</div>
						<!-- End Input Assisted Conception -->

						<!-- Start Input H/O Anomalies -->
						<div class="form-group col-md-6">
							<label for="inputHoAnomalies">History of anomalies in mother's previous pregnancies (if any)?</label><br/>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoAnomaliesYes" name="hoAnomalies"
									value="1" required />
								<label class="form-check-label" for="inputAssistedConceptionYes">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoAnomaliesNo" name="hoAnomalies"
									value="0" required />
								<label class="form-check-label" for="inputHoAnomaliesNo">No</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" id="inputHoAnomaliesNa" name="hoAnomalies"
									value="0" required />
								<label class="form-check-label" for="inputHoAnomaliesNa">NA</label>
							</div>
							</div>
						<!-- End Input H/O Anomalies -->

						<!-- Start Input Previous Abortions -->
						<div class="form-group col-md-6">
							<label for="inputPrevAbortions">Number of Previous Abortions (if any)?</label>
							<input type="number" class="form-control" id="inputPrevAbortions" name="prevAbortions" pattern="\d{1}" required />
						</div>
						<!-- End Input Previous Abortions -->
					</div>
					<!-- End History of User Section -->

					<hr />

					<!-- Start Submit Button -->
					<button class="btn btn-primary btn-block" type="submit">Predict</button>
					<!-- End Submit Button -->
				</form>
				<!-- End Form -->
			</div>
			<!-- End Card Body -->
		</div>
		<!-- End Card -->
		
		<script src="../app/index.js"></script>
	</body>

	<footer>
		<div class="my-4 text-muted text-center">
			<p>© Predikt</p>
		</div>
	</footer>

</html>